<div *ngFor="let news of newsList | async">
<figure class="snip1527" >
  <div class="image"><img src="https://picsum.photos/410/509?random={{news.id}}" alt="pr-sample23" /></div>
  <figcaption>
    <h3>{{news.title}}</h3>
    <p>
      {{news.description}}
    </p>
    <button class="btn" (click)="delete(news.id)"><i class="fa fa-trash"></i>Delete</button>
  </figcaption>
</figure>
</div>

<!--<div class="panel-body">
    <div *ngFor="let news of newsList | async">
      <p>Title:</p>
      <p>{{news.title}}</p>
      <p>Description:</p>
      <p>{{news.description}}</p>
    </div>
</div>-->



